.magazine-flex {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: left;
  background-color: var(--grey);
  gap: 50px;
  padding: 40px 0 40px 0;
}

.magazine-flex-item1 {
  flex: 1 1 60%;
  max-width: 650px;
  box-sizing: border-box;
  height: 100%;
  padding-right: 60px;
  margin: 0;
}

.magazine-flex-item2 {
  flex: 1 1 40%;
  max-width: 400px;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

h2.magazine {
  font-size: 25px;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: left;
  line-height: 30px;
  padding: 30px 0 40px 0;
}

p.magazine {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1199px) {
  .magazine-flex {
    gap: 0;
    padding: 30px;
  }

  .magazine-flex-item1,
  .magazine-flex-item2 {
    flex: 100%;
    height: 100%;
    padding: 20px 0;
  }

  h2.magazine {
    text-align: center;
  }
}
