.contact-flex {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 40px 60px 40px 60px;
  text-align: left;
}

.contact-flex-item1 {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  padding-right: 70px;
  margin: 0;
}

.contact-flex-item2 {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  padding-left: 30px;
  margin: 0;
  border-left: 20px solid var(--grey);
}

h1.contact {
  font-size: 85px;
  font-optical-sizing: auto;
  font-weight: 600;
  text-align: left;
  line-height: 100px;
  padding: 30px 0 40px 0;
  width: 100%;
}

h2.contact {
  font-family: "Oswald", serif;
  font-size: 30px;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: left;
  line-height: 40px;
  padding: 5px 0 25px 0;
}

h3.contact {
  font-size:  50px;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: left;
  line-height: 60px;
  padding: 20px 0 20px 0;
}

p.contact {
  font-size:  16px;
  font-optical-sizing: auto;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  padding: 0;
}

a.contact {
  font-family: "Oswald", serif;
  font-size: 50px;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: left;
  line-height: 60px;
  padding: 5px 0 25px 0;
}

.hr-contact {
  border: 1px solid var(--dark);
  margin: 0;
}


@media only screen and (max-width:1199px) {

  .hr-contact {
    display: none;
  }
  
  .contact-flex-item1 {
    border-right: 20px solid var(--grey);
  }
  
  .contact-flex-item2 {
    border-left: none;
  }
  
  h1.contact {
    text-align: left;
    font-size: 65px;
    line-height: 85px;
  }

  a.contact, h3.contact {
    font-size:  30px;
    text-align: left;
    line-height: 40px;
    padding: 0 0 30px 0;
  }
  
} 

@media only screen and (max-width:850px) {

  .hr-contact {
    display: none;
  }
  
  .contact-flex {
    gap: 0;
    padding: 30px;
    width: 100%;
  }
  
  .contact-flex-item1 {
    flex: 100%;
    height: 100%;
    padding-right: 0;
    border-right: none;
    border-bottom: 20px solid var(--grey);
  }

  .contact-flex-item2 {
    flex: 100%;
    height: 100%;
    padding: 20px 0;
    border: none;
  }

  h1.contact {
    text-align: center;
    font-size: 65px;
    line-height: 85px;
  }

  h2.contact {
    text-align: center;
  }

  a.contact, h3.contact {
    font-size:  30px;
    text-align: center;
    line-height: 40px;
    padding: 0 0 30px 0;
  }
  
} 


