.main-img-gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 525px;
  background-image: linear-gradient(90deg, rgb(255, 255, 255, 0.80) 23%, rgba(244,218,82,0) 56%), url("../../assets/images/oil-portrait-progress-cat.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 60px 0 60px;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Hide element on Tablet/Phone */

@media only screen and (max-width:850px) {
  .main-img-gallery {
    min-height: 430px;
    padding: 0 30px 0 30px;
  }
}