.main-img {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 525px;
  background-image: linear-gradient(90deg, rgb(255, 255, 255, 0.80) 23%, rgba(244,218,82,0) 56%), url("../../assets/images/progress-collie-maggie.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 60px 0 60px;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 7px;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  grid-template-areas: "image";
  padding: 20px 0 20px 0;
}
  
.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  height: 500px;
}

.div2 {
  grid-column-start: 1;
  grid-row-start: 3;
  height: 260px;
}

.div3 {
  grid-column-start: 2;
  grid-row-start: 3;
  height: 260px;
}

.div4 {
  grid-column-start: 3;
  grid-row-start: 1;
  height: 260px;
}

.div5 {
  grid-column-start: 4;
  grid-row-start: 1;
  height: 260px;
}

.div6 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
  height: 500px;
  width: 100%
}

.image {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

/* Hide element on Tablet/Phone */

@media only screen and (max-width:850px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr)); /* Flexible column width */
  }
  
  .div1 {
    grid-column: span 2;
    grid-row: 1;
    height: 350px;
  }
  
  .div2 {
    grid-column: 1;
    grid-row: 2;
    height: 200px;
  }
  
  .div3 {
    grid-column: 2;
    grid-row: 2;
    height: 200px;
  }
  
  .div6 {
    grid-column: span 2;
    grid-row: 3;
    height: 350px;
  }
  
  .div4 {
    grid-column: 1;
    grid-row: 4;
    height: 200px;
  }
  
  .div5 {
    grid-column: 2;
    grid-row: 4;
    height: 200px;
  }

}