.news-offer {
  display: flex;
  width: 100%;
  min-height: 200px;
  background-color: var(--grey-light);
  border-top: 2px solid var(--dark);
  border-bottom: 2px solid var(--dark);
  margin-bottom: 30px;
  padding: 20px 60px;
  align-items: center;
  gap: 40px;
}

.news-offer a {
  color: #8a8735;
}

h2.news {
  font-size: 25px;
  line-height: 35px;
  padding-bottom: 20px;
  text-align: left;
}

.news-text {
  flex: 1;
  padding-right: 20px;
}

.news-image {
  flex: 0 0 300px;
}

.news-image img {
  width: 100%;
  height: auto;
  display: block;
  border: 8px solid var(--white);
  object-fit: cover;
}

.icon-color {
  color: var(--green);
}

figure.gallery-item2 {
  position: relative;
  display: inline-block;
  cursor: default;
  flex: 1 1 calc(33.333% - 20px);
}

.testimonial-flex {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: 350px;
  display: flex;
  margin: 0 auto;
  padding-left: 40px;
  margin-bottom: 20px;
  border-left: 15px solid var(--green);
}

.testimonial-flex::before {
  position: absolute;
  content: "“";
  font-family: "Frank-ruhl-libre", serif;
  font-size: 160px;
  line-height: 160px;
  text-align: center;
  color: var(--green);
  background-color: var(--white);
  border: 1px solid var(--dark);
  border-radius: 4px;
  width: 90px;
  height: 90px;
  top: -45px;
  left: 80px;
}

.testimonial-flex-item1 {
  flex: 1 1 70%;
  padding: 60px 60px 40px 200px;
  background-color: var(--grey);
}

.testimonial-flex-item1 p {
  font-size: 18px;
  line-height: 30px;
}

.testimonial-flex-item2 {
  flex: 1 1 30%;
  padding: 40px;
  background-color: var(--grey);
}

.testimonial-img {
  height: auto;
  width: 100%;
  border-radius: 300px;
}

/* Hide element on Tablet/Phone */

@media only screen and (max-width: 850px) {
  .testimonial-flex {
    flex-direction: column;
    padding: 0 0 0 20px;
  }

  .testimonial-flex-item2 {
    order: -1;
    padding: 30px;
  }

  .testimonial-flex::before {
    font-size: 100px;
    line-height: 100px;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 50px;
  }

  .testimonial-flex-item1 {
    padding: 30px;
  }

  .news-offer {
    flex-direction: column;
    padding: 30px;
    text-align: center;
    gap: 0;
  }

  .news-text {
    padding-right: 0;
  }

  .news-image {
    flex: none;
    width: 100%;
    margin-top: 10px;
  }

  .news-image img {
    max-width: 100%;
    height: auto;
    border-width: 4px;
  }
}
