@import url("./reset.css");
@import url("./variables.css");
@import url("./about.css");
@import url("./contact.css");
@import url("./gallery.css");
@import url("./photo-tips.css");
@import url("./prices.css");
@import url("./testimonials.css");

/* Hide element on Desktop */
@media only screen and (min-width: 1200px) {
/* Navigation Desktop*/
.burger {
  display: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  width: 100%;
}
  
nav ul li {
  text-align: center;
}

nav ul li:first-child a:hover {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

nav ul li:last-child a:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
  
nav ul li a {
  padding: 10px 20px 10px 20px;
  color: var(--white);
  font-family: "Oswald", serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}
  
nav ul li a:hover {
  background-color: var(--green); 
  color: var(--white);
  text-decoration: none;
}

nav .active {
  background-color: var(--green);
  color: var(--white);
}

nav .active:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

nav .active:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--dark);
  width: 496px;
  height: auto;
  list-style: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  padding: 0;
}

.dropdown-menu li a {
  color: var(--white);
  text-decoration: none;
  text-align: left;
  padding-left: 25px;
  width: 100%;
}

.dropdown-menu li a:hover {
  padding-left: 25px;
  width: 100%;
}

.dropdown-menu li:first-child a:hover {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-menu li:last-child a:hover {
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

}

/* Header */

header {
  position: relative;
  height: 127px;
  min-height: 127px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 100;
}

.logo-header {
  padding-left: 60px;
}

.logo-header img {
  width: 215px;
  height: 54px;
}

/* Navigation */

.toggler {
  display: none;
}

nav {
  position: absolute;
  top: 36px;
  right: 60px;
  background-color: var(--dark);
  border-radius: 4px;
}

.toggler:checked ~ nav ul {
  left: 0;
}

/* Desktop Section */
  
body {
  color: var(--dark);
  background-color: var(--white);
  font-family: 'Frank-ruhl-libre', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-img {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 525px;
  background-image: linear-gradient(90deg, rgba(244,218,82,0.804359243697479) 23%, rgba(244,218,82,0) 56%), url("../../assets/images/jesse-orrico.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 60px;
  padding-right: 60px;
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--dark);
  padding: 58px 58px 58px 58px;
}

.logo-footer {
  display: flex;
  width: 165px;
  height: auto;
}

/* Hide element on Tablet/Phone */

@media only screen and (max-width:1199px) {
.logo-header {
  padding-left: 30px;
  width: 220px;
  height: auto;
}

.burger {
  position: absolute;
  display: flex;
  font-size: 30px;
  color:  var(--white);
  height: 100%;
  cursor: pointer; 
  top: 0;
  right: 0;
  margin: 25px 30px 0 0;
  align-items: center;
  z-index: 100;
  background-color: var(--dark);
  width: 60px;
  height: 64px;
  padding: 17px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

nav {
  position: absolute;
  width: 100%;
  left: 0;
  top: 88px;
  border-radius: 0;
  border-top: 7px solid var(--dark);
}

nav a {
  font-size: 18px;
  font-family: "Oswald", serif;
  font-weight: 400;
  color: var(--dark);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
}

nav a:hover {
  background-color: var(--green);
  transition: background-color 0.3s ease;
  text-decoration: none;
}

nav ul {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-top: 0;
  background-color: var(--white);
  left: -100%;
  transition: all 0.5s;
  list-style: none;
}

nav li {
  text-align: left;
  border-bottom: 1px solid var(--dark);
}

nav ul li:last-child {
  border-bottom: none;
}

nav ul li a {
  font-size: 18px;
  width: 100%;
  padding-left: 60px;
}

.dropdown {
  position: relative;
}

.dropdown li {
  margin-left: 0;
  border-bottom: none;
}
  
.dropdown-menu {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  list-style: none;
  }
  
.dropdown:hover .dropdown-menu {
  display: block;
  padding-top: 0;
  }

.dropdown-menu li a {
  color: var(--dark);
  text-decoration: none;
  text-align: left;
  padding: 15px 0 15px 80px;
  width: 100%;
}
  
.dropdown-menu li a:hover {
  width: 100%;
}

}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}