@import url("./reset.css");
@import url("./variables.css");
@import url("./about.css");
@import url("./contact.css");
@import url("./gallery.css");
@import url("./photo-tips.css");
@import url("./prices.css");
@import url("./testimonials.css");