@import url("./reset.css");
@import url("./variables.css");
@import url("./home.css");
@import url("./about.css");
@import url("./contact.css");
@import url("./gallery.css");
@import url("./photo-tips.css");
@import url("./prices.css");
@import url("./testimonials.css");

/* Hide element on Desktop */
@media only screen and (min-width: 1200px) {
/* Navigation Desktop*/
.burger {
  display: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  width: 100%;
}
  
nav ul li {
  text-align: center;
}

nav ul li:first-child a:hover {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

nav ul li:last-child a:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
  
nav ul li a {
  padding: 10px 20px 10px 20px;
  color: var(--white);
  font-family: "Oswald", serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}
  
nav ul li a:hover {
  background-color: var(--green); 
  color: var(--white);
  text-decoration: none;
}

nav .active {
  background-color: var(--green);
  color: var(--white);
}

nav .active:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

nav .active:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--dark);
  width: 496px;
  height: auto;
  list-style: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  padding: 0;
}

.dropdown-menu li a {
  color: var(--white);
  text-decoration: none;
  text-align: left;
  padding-left: 25px;
  width: 100%;
}

.dropdown-menu li a:hover {
  padding-left: 25px;
  width: 100%;
}

.dropdown-menu li:first-child a:hover {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-menu li:last-child a:hover {
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
}

/* Header */

header {
  position: relative;
  height: 115px;
  min-height: 115px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 100;
}

.logo-header {
  padding-left: 60px;
}

.logo-header img {
  width: 215px;
  height: 54px;
}

/* Navigation */

.toggler {
  display: none;
}

nav {
  position: absolute;
  top: 36px;
  right: 60px;
  background-color: var(--dark);
  border-radius: 4px;
}

.toggler:checked ~ nav ul {
  left: 0;
}

/* Desktop Section */
  
body {
  color: var(--dark);
  background-color: var(--white);
  font-family: 'Frank-ruhl-libre', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  background-color: var(--white);
  width: 100%;
}

/* Main elements */

.main-flex {
  width: 100%;
  max-width: 1200px;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 60px;
  text-align: left;
}

.hr {
  border: 1px solid var(--dark);
}

.article-flex {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 60px;
  text-align: left;
  gap: 6%;
}

.article-flex-item1, .article-flex-item2 {
  flex: 1 1 47%;
  height: 100%;
  padding: 0;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  padding: 0 0 20px 0;
  margin-bottom: 30px;
  border-bottom: 20px solid var(--grey);
}

/* Global elements */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px; 
  z-index: 99;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  width: 80px;
  height: 80px;
  border-radius: 300px;
  border: none;
  outline: none;
  color: var(--white);
  text-align: center;
}

#myBtn:hover {
  color: var(--green);
}

.head-button {
  background-color: var(--orange);
  border: 2px solid var(--dark);
  color: var(--white);
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  font-family: "Oswald", serif;
  border-radius: 4px; 
  padding: 25px;
  margin: 30px 0 0 60px;
  min-width: 290px;
  width: 290px;
  cursor: pointer; 
  transition-duration: 0.4s;
  position: relative;
  display: inline-block;
  }   

.head-button:hover {
  border: 2px solid var(--dark);
  color: var(--white);
  background-color: var(--green);
  text-decoration: none;
}

.button, .action-button {
  background-color: var(--dark);
  color: var(--white);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 26px;
  font-family: "Oswald", serif;
  border-radius: 4px; 
  padding: 20px;
  margin: 20px 0 0 0;
  min-width: 240px;
  width: auto;
  cursor: pointer; 
  transition-duration: 0.4s;
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  }   

.button:hover, .action-button:hover {
  color: var(--white);
  background-color: var(--green);
  text-decoration: none;
}

.action-button {
  background-color: var(--orange);
}

.vert-lines {
  position: absolute;
  right: 0;
  top: 0;
  height:100%;
  border-left: 58px solid var(--orange);
  animation: growFromBottom 3s ease-in-out forwards;
}

.vert-lines:before {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  border-left: 7px solid var(--white);
  right: 58px;
  animation: growFromBottom 2s ease-in-out forwards;
  animation-delay: 0.5s;
}

.vert-lines:after {
  content: ' ';
  position: absolute;
  top: 0;
  border-left: 28px solid var(--green);
  height: 100%;
  right: 65px;
  animation: growFromBottom 4s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes growFromBottom {
  0% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

/* Footer */

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  padding: 0;
  margin-top: auto;
  border-top: 2px solid var(--dark);
  text-align: left;
}

.footer-flex-item {
  flex: 1 1 50%;
  min-height: 270px;
  background-color: #f3f3f3;
  padding: 60px 0 0 60px;
}

.footer-flex-item.wide {
  flex: 1 1 20%;
  font-size: 14px;
  line-height: 30px;
  min-height: 130px;
  color: var(--white);
  background-color: var(--dark);
  border-top: 7px solid var(--green);
  padding: 40px 0 0 60px;
}

.footer-flex-item.wide2 {
  flex: 1 1 80%;
  padding: 50px 0 0 60px;
}

footer a {
  font-family: "Oswald", serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--dark);
  transition: color 0.3s ease;
}

footer a:hover {
  text-decoration: none;
  color: var(--orange);
}

footer ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer-logo {
  width: 130px;
  height: auto;
}

.footer-social {
  display: flex;
  flex-direction:row;
  text-align: left;
  gap: 30px;
}

/* Hide element on Tablet/Phone */

@media only screen and (max-width:1199px) {
/* Header */
  header {
  height: 90px;
  min-height: 90px;
}

.logo-header {
  padding-left: 60px;
  width: 220px;
  height: auto;
}

/* Navigation */

.burger {
  position: absolute;
  display: flex;
  font-size: 30px;
  color:  var(--white);
  height: 100%;
  cursor: pointer; 
  top: 0;
  right: 0;
  margin: 25px 60px 0 0;
  align-items: center;
  z-index: 100;
  background-color: var(--dark);
  width: 60px;
  height: 64px;
  padding: 17px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

nav {
  position: absolute;
  width: 100%;
  left: 0;
  top: 88px;
  border-radius: 0;
  border-top: 7px solid var(--dark);
}

nav a {
  font-size: 18px;
  font-family: "Oswald", serif;
  font-weight: 400;
  color: var(--dark);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
}

nav a:hover {
  background-color: var(--green);
  transition: background-color 0.3s ease;
  text-decoration: none;
}

nav ul {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-top: 0;
  background-color: var(--white);
  left: -100%;
  transition: all 0.5s;
  list-style: none;
}

nav li {
  text-align: left;
  border-bottom: 1px solid var(--dark);
}

nav ul li:last-child {
  border-bottom: none;
}

nav ul li a {
  font-size: 18px;
  width: 100%;
  padding-left: 60px;
}

.dropdown {
  position: relative;
}

.dropdown li {
  margin-left: 0;
  border-bottom: none;
}
  
.dropdown-menu {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  list-style: none;
  }
  
.dropdown:hover .dropdown-menu {
  display: block;
  padding-top: 0;
  }

.dropdown-menu li a {
  color: var(--dark);
  text-decoration: none;
  text-align: left;
  padding: 15px 0 15px 80px;
  width: 100%;
}
  
.dropdown-menu li a:hover {
  width: 100%;
}

/* Desktop Section */

.main-img {
  min-height: 400px;
  padding: 0 30px 0 30px;
  background-image: linear-gradient(90deg, rgb(255, 255, 255, 0.80) 23%, rgba(244,218,82,0) 80%), url("../../assets/images/progress-collie-maggie.jpg");
}

/* Global elements */

.head-button {
  font-size: 16px;
  padding: 15px;
  min-width: 180px;
  width: 10px;
  margin: 30px 0 30px 30px;
} 

.button, .action-button {
  font-size: 16px;
  padding: 15px;
  margin: 30px 0;
  min-width: 180px;
}   
  
.vert-lines {
  border-left: 48px solid var(--orange);
}
  
.vert-lines:before {
  border-left: 7px solid var(--white);
  right: 48px;
}
  
.vert-lines:after {
  border-left: 20px solid var(--green);
  right: 55px;
}

/* Footer */

footer {
  text-align: center;
  }

.footer-flex-item,
  .footer-flex-item.wide,
  .footer-flex-item.wide2 {
    flex: 1 1 100%;
    min-height: auto;
    padding: 30px 0 30px 30px;
  }
  
.footer-flex-item.wide2 {
  border-top: none;
}

.footer-logo {
  margin: 0 auto;
  display: block;
}

.footer-headline, .footer-social {
  text-align: center;
  justify-content: center;
}

footer ul {
  justify-content: center; 
}
}

@media only screen and (max-width:850px) {
  .main-flex {
    padding: 30px;
  }

  .article-flex {
    gap: 0;
    padding: 30px;
  }
  
  .article-flex-item1, .article-flex-item2 {
    flex: 100%;
    height: 100%;
    padding: 0;
  }
  
  .article-flex-item3, .article-flex-item4  {
    flex: 100%;
  }
} 

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}