.main-img-testimonials {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 525px;
  background-image: linear-gradient(90deg, rgb(255, 255, 255, 0.80) 23%, rgba(244, 218, 82, 0) 56%), url("../../assets/images/pet-oil-portrait-testimonials.webp");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 60px 0 60px;
  margin-bottom: 30px;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

/* Hide element on Tablet/Phone */

@media only screen and (max-width:850px) {
  .main-img-testimonials {
    min-height: 430px;
    padding: 0 30px 0 30px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../../assets/images/pet-oil-portrait-testimonials-mobile.webp");
  }

}