:root {
  --white: #ffffff;
  --grey: #d9d9d9;
  --grey-light: #ededed;
  --dark: #2f1312;
  --orange: #d06224;
  --green: #8a8735;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: "Frank-ruhl-libre", serif;
  text-decoration: none;
  font-weight: 700;
  color: #d06224;
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  outline: 2px solid var(--green);
  outline-offset: 2px;
}

h1 {
  display: block;
  max-width: 700px;
  padding: 60px 0 0 60px;
  font-family: "Oswald", serif;
  font-size: 50px;
  line-height: 65px;
  font-optical-sizing: auto;
  font-weight: 700;
  text-align: left;
  line-height: 80px;
}

h1.special {
  font-size: 70px;
  font-optical-sizing: auto;
  font-weight: 600;
  text-align: left;
  line-height: 90px;
  padding: 30px 0 40px 0;
  width: 100%;
}

h2 {
  font-family: "Oswald", serif;
  font-size: 40px;
  font-optical-sizing: auto;
  font-weight: 700;
  text-align: left;
  line-height: 50px;
  padding-bottom: 30px;
}

h2.left {
  text-align: left;
  padding-bottom: 60px;
}

h2.right {
  text-align: right;
  padding-bottom: 60px;
}

h3 {
  font-family: "Oswald", serif;
  font-size: 30px;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: left;
  line-height: 30px;
  padding: 30px 0 30px 0;
}

p {
  font-family: "Frank-ruhl-libre", serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  line-height: 35px;
  padding-bottom: 20px;
}

p.news {
  max-width: 600px;
}

/* Tablet */
@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 50px;
    line-height: 65px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-size: 18px;
    line-height: 35px;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  h1 {
    padding: 30px 0;
    font-size: 40px;
    line-height: 53px;
  }

  h1.special {
    font-size: 50px;
    text-align: center;
    line-height: 60px;
  }
}
