@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Oswald:wght@200..700&display=swap');

:root {
  --white: #ffffff;
  --grey: #D9D9D9;
  --dark: #2F1312;
  --orange: #D06224;
  --green: #8A8735;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: "Frank-ruhl-libre", serif;
  text-decoration: none;
  font-weight: 700;
  color: #D06224;
}

a:hover {
  text-decoration: underline;
}

h1 {
  display: block;
  width: 600px;
  padding: 60px 0 0 60px;
  font-family: "Oswald", serif;
  font-size: 50px;
  font-optical-sizing: auto;
  font-weight: 700;
  text-align: left;
  line-height: 80px;
}

h2 {
  font-family: "Oswald", serif;
  font-size: 35px;
  font-optical-sizing: auto;
  font-weight: 700;
  text-align: left;
  line-height: 55px;
  padding-bottom: 40px;
}

h2.right {
  text-align: right;
}

h3 {
  font-family: "Oswald", serif;
  font-size: 30px;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: left;
  line-height: 30px;
  padding-bottom: 30px;
}

p {
  font-family: "Frank-ruhl-libre", serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  line-height: 35px;
  padding-bottom: 20px;
}

 /* Hide element on Tablet/Phone */

@media only screen and (max-width:1199px) {
  h1 {
    width: 400px;
    padding: 30px 30px 0 30px;
    font-size: 40px;
    line-height: 55px;
  }

  h2 {
    font-size: 25px;
    line-height: 35px;
  }

  h3 {
    font-size: 25px;
    line-height: 30px;
  }

  p {
    font-size: 18px;
    line-height: 35px;
  }
}
